<div id="navbar">
    <h1 class="sitename">The Social Score</h1>
    <ul class="navitems">
        <li class="navitem">
            <a href="{{ url_for('homepage') }}" class="navlink">Home</a>

        </li>

        <li class="navitem">
            <a href="#" class="navlink">About</a>
            <div class="additional-info">Learn more about our college and system.</div>
        </li>

        <li class="navitem">
            <a href="#" class="navlink">Contact</a>
            <div class="additional-info">Get in touch with us for any inquiries or support.</div>
        </li>

        <li class="navitem">
            <a href="#" class="navlink">RuleBook</a>
            <div class="additional-info">Read our rulebook for guidelines and policies.</div>
        </li>

        <li class="navitem">
            <a href="#" class="navlink">Profile</a>
            <div class="additional-info">View and manage your profile information.</div>
        </li>

        <li class="navitem">
            <a href="#" class="navlink">Activities</a>
            <div class="additional-info">Explore and participate in various activities.</div>
        </li>

        <li class="navitem">
            <a href="#" class="navlink">Leaderboard</a>
            <div class="additional-info">See who's leading the social credit score.</div>
        </li>

        <li class="navitem">
            <a href="#" class="navlink">News & Updates</a>
            <div class="additional-info">Stay updated with the latest news and announcements.</div>
        </li>
    </ul>
</div>
